
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  h1, h2{font-family: 'Rock salt', cursive, sans-serif;
    font-style: italic;
    text-align: center;
}
  body {
    height: 100%;
    display: grid;
    
  }

  main {background-color:rgba(102, 51, 153, 0.76);
    height:fit-content;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-areas: "izquierda header derecha"}

    header {
  grid-area: header;
}

aside:first-of-type{
  grid-area:izquierda;
}

aside:last-of-type{
  grid-area: derecha;
}

img {
    margin: auto;
    width: 100%;
}

button {
  cursor: pointer;
  background-color: rgba(47, 212, 199, 0.664);
  width: 75px;
  height: 50px;
  border-color: transparent;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  margin-top: 2.5rem;
}

img:hover{
  animation: tiembla 0.1s ;
  animation-iteration-count: 2
}
@keyframes tiembla{
  0%  { transform:rotateZ(-5deg); }
  50% { transform:rotateZ( 0deg) scale(.8); }
  100%{ transform:rotateZ( 5deg); }
}